In [1]:
import create_tables
import configparser
import psycopg2
from sql_queries import create_table_queries, drop_table_queries
import etl

In [22]:
# load DWH Params from a file
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
          
DWH_USER            = config.get("DWH","DWH_USER")
DWH_PASSWORD        = config.get("DWH","DWH_PASSWORD")
DWH_ENDPOINT           = config.get("DWH", "DWH_ENDPOINT")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_DB                 = config.get("DWH","DWH_NAME")

In [ ]:
create_tables.main()

In [8]:
etl.main()

In [23]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['DWH'].values()))
cur = conn.cursor()

In [24]:
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_USER, DWH_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://sparkify_user:Passw0rd@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh

'Connected: sparkify_user@sparkify_dwh'

In [7]:
%sql select * from songplays limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[(36, datetime.datetime(2018, 11, 22, 13, 21, 20, 796000), '101', 'free', 'SOUHTWB12A8C13BA4D', 'AR96LYR1187B9ABABD', 790, 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (275, datetime.datetime(2018, 11, 12, 21, 22, 1, 796000), '12', 'free', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 371, 'New York-Newark-Jersey City, NY-NJ-PA', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (55, datetime.datetime(2018, 11, 22, 1, 34, 51, 796000), '15', 'paid', 'SOIQRVH12AF729EE08', 'AR9IGU51187FB40D6B', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (496, datetime.datetime(2018, 11, 9, 14, 50, 53, 796000), '15', 'paid', 'SOKMBHF12A58A7ACE4', 'ARQEL841187FB52D01', 362, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (304, datetime.datetime(2018, 11, 29, 0, 40, 14, 796000), '24', 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [8]:
%sql select count(*) from songplays limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(320,)]

In [9]:
%sql select count( distinct user_id) from songplays limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(55,)]

In [10]:
%sql select count( distinct user_id) from staging_events limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(98,)]

In [11]:
%sql select count(*) from staging_events

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(8056,)]

In [15]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[('12', 'Austin', 'Rosales', 'M', 'free'),
 ('3', 'Isaac', 'Valdez', 'M', 'free'),
 ('30', 'Avery', 'Watkins', 'F', 'paid'),
 ('48', 'Marina', 'Sutton', 'F', 'free'),
 ('6', 'Cecilia', 'Owens', 'F', 'free')]

In [16]:
%sql SELECT * FROM songs limit 5;

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[('SOEWYVW12AB0188813', 'Calais Douvres', 'AR00MQ31187B9ACD8F', 0, 460.0),
 ('SOZWEMJ12AB01803FB', 'Long Way From Home', 'AR00TGQ1187B994F29', 2007, 130.0),
 ('SOMNWNX12AC3DF68CA', 'Cheap Shots', 'AR02LMQ1187B992AC9', 2010, 209.0),
 ('SOPHUOP12A8C1406F7', 'Slow Me Down', 'AR02T3I1187FB4D0E5', 2004, 167.0),
 ('SOAHZSF12A58A7662E', 'Something I Must Tell You', 'AR02T3I1187FB4D0E5', 2004, 149.0)]

In [17]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR039B11187B9B30D0', 'John Williams', 'NEW YORK, New York', None, None),
 ('AR048JZ1187B9AEB85', 'Yellowcard', 'Jacksonville, FL', 30.0, -81.0),
 ('AR04S8J1187FB48358', 'Clifford Brown / Max Roach Quintet', 'Wilmington, DE', 39.0, -75.0),
 ('AR04S8J1187FB48358', 'Clifford Brown', 'Wilmington, DE', 39.0, -75.0)]

In [18]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 9, 1, 21, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 5, 30, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 16, 16, 796000), 9, 2, 44, 11, 2018, 5)]

In [19]:
%sql select user_id,level, count(*) from songplays  group by user_id,level order by count desc limit 10

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
10 rows affected.

[('49', 'paid', 39),
 ('80', 'paid', 31),
 ('97', 'paid', 29),
 ('44', 'paid', 20),
 ('73', 'paid', 18),
 ('88', 'paid', 16),
 ('15', 'paid', 15),
 ('24', 'paid', 13),
 ('29', 'paid', 13),
 ('25', 'paid', 10)]

In [20]:
%sql select * from staging_events limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[('The Backyardigans', 'Logged In', 'Aleena', 'F', 4, 'Kirby', Decimal('158'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', 237, 'Into The Thick Of It!', '200', 1541382120796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Ron Carter', 'Logged In', 'Aleena', 'F', 12, 'Kirby', Decimal('497'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', 237, "I CAN'T GET STARTED", '200', 1541383787796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Kings Of Leon', 'Logged In', 'Aleena', 'F', 20, 'Kirby', Decimal('201'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', 237, 'Revelry', '200', 1541385911796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('The Killers', 'Logged In', 'Lily', 'F', 0, 'Burns', Decimal('185'), 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540621059796', 239, "I Can't Stay", '200', 1541393054796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '32'),
 ('Arctic Monkeys', 'Logged In', 'Katherine', 'F', 3, 'Gay', Decimal('177'), 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', '1540968306796', 56, 'Fake Tales Of San Francisco', '200', 1541397425796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.59.10 (KHTML, like Gecko) Version/5.1.9 Safari/534.59.10"', '57')]

In [21]:
%sql select * from staging_songs limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.czlptvvfkz07.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[(1, 'AR73AIO1187B9AD57B', Decimal('37'), Decimal('-122'), 'San Francisco, CA', 'Western Addiction', 'SOQPWCR12A6D4FB2A3', 'A Poor Recipe For Civic Cohesion', Decimal('118'), 2005),
 (1, 'AR1Y2PT1187FB5B9CE', Decimal('27'), Decimal('-82'), 'Brandon', 'John Wesley', 'SOLLHMX12AB01846DC', 'The Emperor Falls', Decimal('484'), 0),
 (1, 'ARR6LWJ1187FB44C8B', None, None, 'Athens, GA', 'R.E.M.', 'SOLJCCO12A6701F987', 'Fall On Me (Live)', Decimal('203'), 1995),
 (1, 'ARBVASN1187B9890CB', None, None, 'Chicago, IL', 'Lucky Boys Confusion', 'SOZQOSV12AB018CDFC', 'Do You Miss Me (Killians) (LP Version)', Decimal('169'), 2001),
 (1, 'ARCVOFZ1187FB58074', None, None, '', 'Arisen Flame', 'SOUBASN12AC468DB23', 'Income', Decimal('443'), 0)]